@import url('https://fonts.googleapis.com/css2?family=Fraunces:wght@700&family=Montserrat:wght@500;700&display=swap');

.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }

*,
*:before,
*:after {
    box-sizing: border-box;

}
body {
    font-family: 'Montserrat', sans-serif;
    background-color: hsl(30, 38%, 92%);
}

.card {
    display: flex;
    flex-direction: column;   
    max-width: 95%;
    margin: 20px auto;
    background-color: hsl(0, 0%, 100%);
    border-radius: 10px;
}
.card img {
    border-radius: 10px 10px 0 0;
}

.product-content{
    padding: 25px;
}
.product-category {
    margin: 0;
}
.product-title{
    margin: 10px 0;
}
h3,
.price {
    font-family: 'Fraunces', serif;
    text-transform: capitalize;
    font-size: 30px;
}
.price-box {
    display: flex;
    width: 100%;
    align-items: center;
}
.price {
    color: hsl(158, 36%, 37%);
    display: inline;
    margin: 10px 15px 10px 0px;
}
.old-price {
    text-decoration: line-through;
    display: inline;
}
.product-category {
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 5px;
}
.product-description {
    line-height: 1.5;
    text-align: left;
}
h2,
p {
    font-size: 14px;
    color: hsl(228, 12%, 48%);
}
.btn-cta {
    display: inline-block;
    width: 100%;
    padding: 15px;
    background-color: hsl(158, 36%, 37%);
    color:hsl(0, 0%, 100%);
    font-weight: 700;
    font-size: 16px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    margin-top: 15px;
}
.btn-cta:hover {
    background-color: hsl(158, 36%, 20%);
}
.btn-cta svg{
    margin-right: 10px;
    vertical-align: middle;
}

@media (min-width: 990px) {
    .card{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        flex-direction: row;
        width: 550px;
        height: 450px;
    }
    .card img {
        border-radius: 10px 0px 0px 10px;
    }
    .product-content{
    }
}